name: FINAL_SUCCESS_BOT
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  blast:
    runs-on: ubuntu-latest
    steps:
      - name: Start
        run: |
          python3 -c "
          import requests, concurrent.futures, random
          def run():
              url = 'https://shrinkme.io/api?api=bf74cbbb2b101b0131e408cb6e8d92be061676bf&url=https://google.com/{}'
              while True:
                  try: requests.get(url.format(random.randint(1,999999)), timeout=5)
                  except: pass
          with concurrent.futures.ThreadPoolExecutor(max_workers=100) as e:
              [e.submit(run) for _ in range(100)]
          "
          
