name: QUICK_START_GOD_MODE
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  fast-bot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # සර්වර් 3ක් පමණි - පෝලිමේ ඉන්න වෙලාව නැති කිරීමට
        id: [1, 2, 3]
    steps:
      - name: Turbo Launch
        run: |
          python -c "
          import aiohttp, asyncio, random
          async def blast():
              u = 'https://shrinkme.io/api?api=bf74cbbb2b101b0131e408cb6e8d92be061676bf&url=https://google.com/{}'
              async with aiohttp.ClientSession() as s:
                  while True:
                      try:
                          async with s.get(u.format(random.randint(1,999999)), timeout=5) as r:
                              pass
                      except: pass
          async def main():
              # එක සර්වර් එකක Requests 200ක් එකවර! (Ultra Fast)
              await asyncio.gather(*[blast() for _ in range(200)])
          asyncio.run(main())
          "
